<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aine</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="../tyylit.css"/>
    </head>

    <body>

        <div class="navbar">
            <span id="header">DRINKKIARKISTO X</span><br/><br/>
            <a class="nav" href="../">ETUSIVU</a>
            <span>&ensp;|&ensp;</span>
            <a class="nav" href="../drinkit">LISÄÄ TAI MUOKKAA DRINKKEJÄ </a>
            <span>&ensp;|&ensp;</span>
            <a class="nav" href="../aineet">RAAKA-AINEET</a>
        </div>

        <div class="content">

            <h2><span th:text="${aine.nimi}">drinkki</span></h2>

            <p>Tältä sivulta löytyvät tarkemmat tilastot raaka-aineeseen <span th:text="${aine.nimi}">aine</span> liittyen.</p>
            <h3>
                Raaka-aine <span th:text="${aine.nimi}">drinkki</span> on käytössä seuraavissa drinkeissä
                <span th:if="${!maara == 0}">
                    (yhteensä <span th:text="${maara}">maara</span> drinkkiä)
                </span>:
            </h3>

            <ul>
                <li th:each="drinkki: ${drinkit}">
                    <a th:href="${'/drinkit/' + drinkki.id}"> <span th:text="${drinkki.nimi}">drinkki nimi</span> </a>
                </li>
            </ul>

            <div th:if="${drinkit.empty}">
                <p>Raaka-aine ei toistaiseksi ole käytössä yhdessäkään reseptissä</p>
                <a href="/drinkit">Korjaa tilanne!</a>
            </div>
            <br/>
            <br/>
            <a href="/aineet">Takaisin raaka-ainelistaukseen</a>

        </div>
    </body>
</html>