<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Resepti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${drinkki.nimi}">drinkki</span></h1>

        <p>Tältä sivulta löydät tarkemmat ainekset ja ohjeet drinkkiin <span th:text="${drinkki.nimi}">drinkki</span> .</p>
        <h2>Ohje</h2>
        
        <ol>
            <li th:each="aines: ${ohje}">
                <span th:text="${aines.toString()}">drinkin nimi</span>
            </li>
        </ol>
        
        <a href="/"> Takaisin etusivulle</a>
    </body>
</html>