<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Etusivu</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="tyylit.css"/>
    </head>

    <body>
        
        <div class="navbar">
            <span id="header">DRINKKIARKISTO X</span><br/><br/>
            <a class="nav" href="/">ETUSIVU</a>
            <span>&ensp;|&ensp;</span>
            <a class="nav" href="/drinkit">LISÄÄ TAI MUOKKAA DRINKKEJÄ </a>
            <span>&ensp;|&ensp;</span>
            <a class="nav" href="/aineet">RAAKA-AINEET</a>
        </div>
        
        <div class="content">

        <h2>Tervetuloa drinkkiarkistoon!</h2>
       
        <p>Alla olevan listauksen kautta pääset tutustumaan tietokantaamme tallennettuihin drinkkeihin.<br/><br/>
            Halutessasi voit myös lisätä arkistoon oman drinkkireseptisi tai tarkastella syötettyjä raaka-aineita.
        </p> 
        <ul>
            <li th:each="drinkki: ${drinkit}">
                 <a th:href="${'/drinkit/' + drinkki.id}"><span th:text="${drinkki.nimi}">drinkki nimi</span></a>
            </li>
        </ul>
        
        
        </div>;
    </body>
</html>