
:body:before {
    content: url(cocktail.jpg);
    visibility: hidden;
}

html { 
    background: url(cocktail.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-size: 100%
}

.content {
    box-sizing: border-box;
    min-width: fit-content;
    max-width: 700px;
    min-height: 900px;
    max-height: 100%;
    box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    padding: 70px;
    background-color: rgba(255, 255, 255, 0.45);
    margin-left: 35px;
    margin-top: 20px;
    margin-right: 35px;
    font-family: Open Sans, sans-serif;
    color: #212121;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

form {
    font-size: 0.7 em;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}




.list, #igrlist {
    margin: 0;
    line-height: 0.7;
}

select {
    margin-bottom: 10px;
    margin-top: 5px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: 10px;
    background-color:  #474747; 
    color: azure;
}

.navbar {
    box-sizing: border-box;
    min-width: fit-content;
    max-width: 700px;
    max-height: 100%;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 35px;
    margin-left: 35px;
    margin-top: 20px; 
    margin-right: 35px;
    text-align: center;
    color: white;
}

#header {
    font-size: 2em;
    font-weight: bold;
}

a {
    color: black;
}

.nav {
    color: white;
}

h2 {
    font-size: 1.875em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.45em;
}

h4 {
    font-size: 1.3 em;
}

p, span {
    font-size: 1em;
}
